{% load static swampdragon_tags %}
<!DOCTYPE html>
<html ng-app="TodoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% verbatim %}
<div ng-controller="TodoListCtrl">
    <ul>
        <li ng-repeat="item in todoItems">
            {{ item.text }}
        </li>
    </ul>
        <div></div>>
        <input type="text" ng-model="data.text"/>
        <div>
        </div>
        <button type="button" ng-click="dataadd(data)">
                add
        </button>
    </li>
</div>
{% endverbatim %}

<!-- AngularJS -->
<script type="text/javascript" src="{% static 'angular.js' %}"></script>

{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/dist/datamapper.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/angular/services.js' %}"></script>

<!-- To-do app -->
<script type="text/javascript" src="{% static 'chatroom/app.js' %}"></script>
<script type="text/javascript" src="{% static 'chatroom/controllers.js' %}"></script>

</body>
</html>